<div class="px-3">
  <h2>Dizgi Nedir?</h2>
  <h6 style="text-decoration-line: underline">Dizgi;</h6>
  <p class="metin">
    Kâğıt veya başka ortamlardaki metinlerin bilgisayar ortamına yazı olarak
    aktarılması işidir. Mizanpajdan farklı olarak dizgi, metnin doğru biçimde
    bilgisayar ortamına aktarılmasından ibarettir. Paragrafların doğru
    oluşturulması, noktalama işaretlerinin düzgün konması, tabloların uygun
    şekilde oluşturulması dizginin konusudur.
  </p>

  <h6 style="text-decoration-line: underline">Mizanpajın Geçirdiği Evreler:</h6>
  <p class="metin">
    a- Zihinde Canlandırıp Hayal Etme <br />
    b- Üstünkörü Çizim (Kabataslak) <br />
    c- İlk Taslağın Çalışılacak Ortama Aktarılması <br />
    d- İçerikle Uyumlu Görsel Seçimi <br />
    e- Başlık Seçimi ve Yazı Tipi Seçimi <br />
    f- Grafik/Kurgu <br />
    g- İçerik Görsel Sıralama Uyarlaması
  </p>

  <h2>Tashih Nedir?</h2>
  <p class="metin">
    Tashih aşamasında işin kağıt çıktıları genellikle müşteri temsilcisi ya da
    müşteri tarafından (yayın evlerinde düzeltmen) kontrol edilir, hatalar kalem
    ile belirtilir ve hataları bölümler bilgisayar ortamında yeniden düzeltilir.
    İstediğiniz ve içinize sineceği şekle girene kadar işinizi takip ederiz.
  </p>

  <h2>Kullanılan Programlar</h2>
  <a href="https://www.adobe.com/tr/products/indesign.html" style="color: blue">
    <h5 class="my-1">1) Adobe Indesign</h5>
  </a>
  <p class="metin">
    Basılı ve dijital yayınlar için profesyonel bir sayfa mizanpajı uygulaması
    olan Adobe InDesign; web ve tablet uygulamaları için çeşitli içerikler
    tasarlayabilen, mizanpaj ön kontrollerini yapıp yayınlayabilen bir
    uygulamadır. Bu uygulama kullanıcılarına; tipografi üzerinde hassas kontrol
    olanağı ve yerleşik yaratıcı araçlar ile kullanımı kolay bir tasarım ortamı
    sunmaktadır. Adobe Indesign ile kitap, dergi, gazete, katalog, broşür,
    kartvizit ve takvim gibi basım işlerinin baskıya verilene kadar süreçteki
    tüm hazırlığı a’dan z’ye kadar sürdürülebilmektedir.
  </p>

  <a
    href="https://www.adobe.com/tr/products/illustrator.html"
    style="color: blue"
  >
    <h5 class="my-1">2) Adobe Illustrator</h5>
  </a>
  <p class="metin">
    Adobe ailesinin vektörel tabanlı programı olan Illustrator; ambalaj tasarımı
    üzerine yaygın olarak kullanılan, multimedya ve grafikler için hazırlanmış
    bir illüstrasyon programıdır.
  </p>

  <a href="http://www.mathmagic.com" style="color: blue">
    <h5>3) Math Magic</h5>
  </a>
  <p class="metin">
    Matematiksel formülleri ve bilimsel sembolleri hazırlamak için size kolay
    bir kullanıcı arayüzü ve güçlü özellikler sunar. Düşünülebilen tüm
    matematiksel formül biçimleri birkaç tıklamayla kolayca yaratılır.
  </p>

  <a
    href="https://www.adobe.com/tr/products/photoshop.html"
    style="color: blue"
  >
    <h5 class="my-1">4) Adobe Photoshop</h5>
  </a>
  Piksel bazlı çizim yapma imkanı sunan, fotoğraf manipülasyon işlemleri
  yapabilen, reklamlar ve görsel düzenlemeler yapılmasına imkan sağlayan modern
  teknolojinin en çok tercih edilen profesyonel grafik tasarım programıdır.

  <h2 class="my-2">Genel Bilgi</h2>
  <p class="metin">
    Gönderilen dosyada dizgi hatalarını tespit etmeniz ve bildirmeniz durumunda
    tashih işlemini yaparak tarafınıza tekrar en doğru haliyle  göndeririz.
    <br />
    Çalışma elimize ulaştıktan sonra sizin istediğiniz sürede işinizi teslim
    ederiz. <br />
    Her branşta ve sınıfta;<br />
    - konu anlatımlı kitaplarınız <br />
    - soru bankalarınız <br />
    - Denemeleriniz <br />
    ve yaprak testlerinizin dizgi mizanpaj işlemini itina ile ucuz fiyata ve
    istenilen sürede yapmaktayız. <br />
    Yine gazete ve dergi dizgi mizanpaj işini itina ile yapmaktayız. Faklı yayın
    evleri ve kuruluşlar ile çalışmalarımız mevcuttur. Örnek çalışmalarımızı
    bize ulaşmanız halinde tarafınıza göndeririz.
  </p>

  <span class="font-weight-bold"> Mail: kaledizgi1670@gmail.com</span>
  <br />
  <span class="font-weight-bold">Tel: 0535 228 0386</span>
</div>
