<nav class="navbar navbar-expand-lg navbar-dark py-0 mb-2">
  <div class="row align-items-center">
    <div class="col-sm-3 text-white text-center btn" routerLink="/motherPage">
      Ana Sayfa
    </div>
    <div
      class="col-sm-3 text-white text-center btn"
      routerLink="/dizgimizanpaj"
    >
      Dizgi - Mizanpaj
    </div>
    <div class="col-sm-3 text-white text-center btn" routerLink="/contact">
      İletişim
    </div>
    <div class="col-sm-3 text-white text-center btn" routerLink="/adminconsole">
      <span class="material-icons"> copyright </span>Kaledizgi
    </div>
  </div>
</nav>
