<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div class="row" *ngIf="_loginControl">
  <div class="col-sm-12 mb-3">
    <button class="btn btn-primary float-right" (click)="LogOut()">
      Oturumu Kapat
    </button>
  </div>
  <div class="col-sm-12">
    <accordion>
      <!-- ALL IMAGES CONTROLS -->
      <accordion-group>
        <h3 accordion-heading>Görsel Kontrolleri</h3>
        <accordion [isAnimated]="true">
          <!-- ====================SLİDER SECTION============= -->
          <accordion-group>
            <button
              type="button"
              class="btn btn-default btn-lg w-100"
              accordion-heading
              (click)="deg = !deg"
            >
              <span class="material-icons float-left" *ngIf="!deg">
                arrow_circle_down
              </span>
              <span class="material-icons float-left" *ngIf="deg">
                arrow_circle_up
              </span>
              <span class="float-left mx-3">
                <h4>Slider</h4>
              </span>
            </button>
            <app-sliderconsole></app-sliderconsole>
          </accordion-group>

          <!-- ==============Images In Galleries Sections============ -->
          <accordion-group
            *ngFor="let gallery of imagesOfGalleries; let i = index"
          >
            <button
              type="button"
              class="btn btn-default btn-lg w-100"
              accordion-heading
              (click)="shw = !shw"
            >
              <span class="material-icons float-left" *ngIf="!shw">
                arrow_circle_down
              </span>
              <span class="material-icons float-left" *ngIf="shw">
                arrow_circle_up
              </span>
              <span class="float-left mx-3">
                <h4>{{ gallery["galleryInfo"]["galleryTitle"] }}</h4>
              </span>
            </button>

            <!-- Images of Galleries -->
            <div class="row">
              <div
                class="col-sm-3"
                *ngFor="let image of gallery['galleryImages']; let j = index"
              >
                <div class="card my-1 sliderCards">
                  <div class="card-header">
                    <!-- popover for deleting beginning -->
                    <ng-template #popContent>
                      <div class="text-center">
                        <button
                          class="btn btn-danger col-5 mr-1"
                          (click)="DeleteImageFromGalleries(gallery, image)"
                        >
                          Sil
                        </button>
                        <button class="btn btn-primary col-5 ml-1">
                          iptal
                        </button>
                      </div>
                    </ng-template>
                    <ng-template #popTitle>
                      <b>Görseli silmek üzeresiniz.</b>
                    </ng-template>
                    <button
                      type="button"
                      class="btn btn-outline-secondary mr-2"
                      [ngbPopover]="popContent"
                      [popoverTitle]="popTitle"
                      triggers="manual"
                      #p1="ngbPopover"
                      (click)="deletingPopoverToggle(p1)"
                      class="material-icons float-right btn btn-danger"
                    >
                      delete
                    </button>
                    <!-- popover for deleting end -->
                    <button
                      (click)="
                        UpdateImageInGallery(
                          imageDescription.value,
                          imageIndex.value,
                          image
                        )
                      "
                      class="material-icons float-right btn"
                      style="font-size: xx-large"
                    >
                      autorenew
                    </button>
                  </div>
                  <div class="card-body">
                    <div class="text-center">
                      <img
                        class="img-fluid"
                        [src]="image['url']"
                        style="height: 200px; width: 150px; margin: 0 auto"
                        alt="image['description']"
                      />
                    </div>
                    <span
                      [hidden]="true"
                      class="badge text-dark font-weight-bold w-75 text-left"
                      >url:</span
                    >
                    <textarea disabled [hidden]="true" class="w-100" rows="4">{{
                      image["url"]
                    }}</textarea>
                    <span
                      class="badge text-dark font-weight-bold w-75 text-left"
                      >açıklama:</span
                    >
                    <textarea class="w-100" #imageDescription rows="4">{{
                      image["description"]
                    }}</textarea>
                    <span
                      class="badge text-dark font-weight-bold w-75 text-left"
                      >index no:</span
                    >
                    <input
                      type="number"
                      class="w-25"
                      #imageIndex
                      value="{{ image['index'] }}"
                    />
                    <span
                      class="badge text-dark font-weight-bold w-75 text-left"
                      >ekleme tarihi:</span
                    >
                    <label class="" for=" ">{{
                      image["date"] | date: "dd/MM/yyyy"
                    }}</label>
                  </div>
                </div>
              </div>
            </div>
            <!-- Adding new photo to a Gallery -->
            <div class="col-sm-3 bg-success py-2 mt-2 rounded shadowcss">
              <div class="card my-2">
                <div class="card-header">
                  <span class="float-left font-weight-bold">Yeni Görsel:</span>
                  <button
                    (click)="
                      AddImageToGallery(
                        newUrlG.value,
                        newTitleG.value,
                        gallery
                      );
                      newUrlG.value = '';
                      newTitleG.value = ''
                    "
                    class="material-icons float-right btn"
                  >
                    note_add
                  </button>
                </div>
                <div class="card-body">
                  <span class="badge text-dark font-weight-bold w-75 text-left"
                    >url:</span
                  ><br />
                  <textarea class="w-100 mb-1" #newUrlG rows="4 "></textarea
                  ><br />
                  <span class="badge text-dark font-weight-bold w-75 text-left"
                    >açıklama:</span
                  ><br />
                  <textarea class="w-100 mb-1" #newTitleG rows=" 4 "></textarea>
                </div>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </accordion-group>
      <!-- GALLERIES FEATURES AND IMAGES -->
      <accordion-group>
        <h3 accordion-heading>Ana Sayfa Galeri Kontrolleri</h3>
        <app-galleriesinfoconsole></app-galleriesinfoconsole>
      </accordion-group>
      <!-- MESSAGES FROM CUSTOMERS CONTROL -->
      <accordion-group>
        <h3 accordion-heading>Müşteri Mesajları</h3>
        <form>
          <div class="row">
            <table class="table">
              <thead>
                <!-- <th>ID</th> -->
                <th>Gönderen Kişi</th>
                <th>Gönderme Tarihi</th>
                <th>İletişim Bilgisi</th>
                <th>Mesajı</th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let item of allMessages">
                  <td>{{ item["name"] }}</td>
                  <td>
                    {{ item["date"] | date: "dd/MM/yyyy" }}
                  </td>
                  <td>{{ item["mail"] }}</td>
                  <td>{{ item["message"] }}</td>

                  <td>
                    <!-- <button
                      (click)="deleteMessage(item['id'])"
                      class="btn btn-danger"
                    >
                      Sil
                    </button> -->
                    <!-- popover for deleting beginning -->
                    <ng-template #popContent>
                      <div class="text-center">
                        <button
                          class="btn btn-danger col-5 mr-1"
                          (click)="deleteMessage(item['id'])"
                        >
                          Sil
                        </button>
                        <button class="btn btn-primary col-5 ml-1">
                          iptal
                        </button>
                      </div>
                    </ng-template>
                    <ng-template #popTitle>
                      <b>Mesajı silmek üzeresiniz!</b>
                    </ng-template>
                    <button
                      type="button"
                      class="btn btn-outline-secondary mr-2"
                      [ngbPopover]="popContent"
                      [popoverTitle]="popTitle"
                      triggers="manual"
                      #p1="ngbPopover"
                      (click)="deletingPopoverToggle(p1)"
                      class="material-icons float-right btn btn-danger"
                    >
                      delete
                    </button>
                    <!-- popover for deleting end -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </accordion-group>
    </accordion>
  </div>
</div>

<div class="m-2" *ngIf="!_loginControl">
  <a href="" routerLink="/login">Lütfen yetkili girişi yapınız.</a>
</div>
