<form class="mt-5" [formGroup]="newGalleryForm" novalidate>
  <div class="col-sm-6 border border-success p-3">
    <div class="form-group">
      <label class="mb-0">
        <h3>Yeni Galeri</h3>
      </label>
      <button
        [disabled]="newGalleryForm.pristine || newGalleryForm.invalid"
        (click)="
          addNewGallery(
            galleryTitle.value,
            fontlink.value,
            fontFamily.value,
            fontColor.value,
            fontSize.value,
            bgPhotoLink.value
          );
          galleryTitle.value = '';
          fontlink.value = '';
          fontFamily.value = '';
          fontColor.value = '';
          fontSize.value = '';
          bgPhotoLink.value = ''
        "
        class="material-icons float-right btn"
      >
        note_add
      </button>
    </div>
    <div class="form-group">
      <label for="galeriadi" class="mb-0">
        <h6>Galeri Adı:</h6>
      </label>
      <input
        type="text"
        class="form-control mt-0 mb-2"
        formControlName="galleryTitle"
        #galleryTitle
        placeholder="Galeri Adı (gerekli)"
      />
    </div>
    <div class="form-group">
      <label for="fontlink" class="mb-0">
        <h6>Font Linki:</h6>
      </label>
      <textarea
        class="form-control mt-0 mb-2 w-100"
        rows="4"
        formControlName="fontlink"
        #fontlink
        placeholder="(gerekli)"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="yazikarakteri" class="mb-0">
        <h6>Font Family:</h6>
      </label>
      <input
        type="text"
        class="form-control mt-0 mb-2"
        formControlName="fontFamily"
        #fontFamily
        placeholder="'family1','family2' (gerekli)"
      />
    </div>
    <div class="form-group">
      <label for="renk" class="mb-0">
        <h6>Yazı Rengi:</h6>
      </label>
      <input
        type="text"
        class="form-control mt-0 mb-2"
        formControlName="fontColor"
        #fontColor
        placeholder="#800000 veya blue (gerekli)"
      />
    </div>
    <div class="form-group">
      <label for="punto" class="mb-0">
        <h6>Punto Büyüklüğü:</h6>
      </label>
      <input
        type="number"
        class="form-control mt-0 mb-2"
        formControlName="fontSize"
        #fontSize
        placeholder="30 (gerekli)"
      />
    </div>
    <div class="form-group">
      <label for="photo" class="mb-0">
        <h6>Arka Plan Görseli:</h6>
      </label>
      <textarea
        class="form-control w-100 mt-0 mb-2"
        rows="4"
        #bgPhotoLink
      ></textarea>
    </div>
  </div>
</form>
<div class="col-sm-3 bg-success py-2 mt-2 rounded shadowcss">
  <div class="card my-2">
    <div class="card-header">
      <span class="float-left font-weight-bold">Yeni Görsel:</span>
      <button
        (click)="
          addImage('images/slider', newUrl.value, newTitle.value);
          newUrl.value = '';
          newTitle.value = ''
        "
        class="material-icons float-right btn"
      >
        note_add
      </button>
    </div>
    <div class="card-body">
      <span class="badge text-dark font-weight-bold w-75 text-left">url:</span
      ><br />
      <textarea class="w-100 mb-1" #newUrl rows="4"></textarea><br />
      <span class="badge text-dark font-weight-bold w-75 text-left"
        >açıklama:</span
      ><br />
      <textarea class="w-100 mb-1" #newTitle rows="4"></textarea>
    </div>
  </div>
</div>
