<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div class="row" *ngIf="_loginControl">
  <div class="col-sm-12 mb-3">
    <button class="btn btn-primary float-right" (click)="LogOut()">
      Oturumu Kapat
    </button>
  </div>
  <div class="col-sm-12">
    <accordion>
      <!-- ALL IMAGES CONTROLS -->
      <accordion-group>
        <h3 accordion-heading>Görsel Kontrolleri</h3>
        <accordion [isAnimated]="true">
          <!-- ====================SLİDER SECTION============= -->

          <app-sliderconsole></app-sliderconsole>

          <!-- ==============Images In Galleries Sections============ -->
          <app-galleries-imagesconsole></app-galleries-imagesconsole>
        </accordion>
      </accordion-group>
      <!-- GALLERIES FEATURES AND IMAGES -->
      <accordion-group>
        <h3 accordion-heading>Ana Sayfa Galeri Kontrolleri</h3>
        <app-galleriesinfoconsole></app-galleriesinfoconsole>
      </accordion-group>
      <!-- MESSAGES FROM CUSTOMERS CONTROL -->
      <accordion-group>
        <h3 accordion-heading>Müşteri Mesajları</h3>
        <form>
          <div class="row">
            <table class="table">
              <thead>
                <!-- <th>ID</th> -->
                <th>Gönderen Kişi</th>
                <th>Gönderme Tarihi</th>
                <th>İletişim Bilgisi</th>
                <th>Mesajı</th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let item of allMessages">
                  <td>{{ item["name"] }}</td>
                  <td>
                    {{ item["date"] | date: "dd/MM/yyyy" }}
                  </td>
                  <td>{{ item["mail"] }}</td>
                  <td>{{ item["message"] }}</td>

                  <td>
                    <!-- <button
                      (click)="deleteMessage(item['id'])"
                      class="btn btn-danger"
                    >
                      Sil
                    </button> -->
                    <!-- popover for deleting beginning -->
                    <ng-template #popContent>
                      <div class="text-center">
                        <button
                          class="btn btn-danger col-5 mr-1"
                          (click)="deleteMessage(item['id'])"
                        >
                          Sil
                        </button>
                        <button class="btn btn-primary col-5 ml-1">
                          iptal
                        </button>
                      </div>
                    </ng-template>
                    <ng-template #popTitle>
                      <b>Mesajı silmek üzeresiniz!</b>
                    </ng-template>
                    <button
                      type="button"
                      class="btn btn-outline-secondary mr-2"
                      [ngbPopover]="popContent"
                      [popoverTitle]="popTitle"
                      triggers="manual"
                      #p1="ngbPopover"
                      (click)="deletingPopoverToggle(p1)"
                      class="material-icons float-right btn btn-danger"
                    >
                      delete
                    </button>
                    <!-- popover for deleting end -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </accordion-group>
    </accordion>
  </div>
</div>

<div class="m-2" *ngIf="!_loginControl">
  <a href="" routerLink="/login">Lütfen yetkili girişi yapınız.</a>
</div>
