<!-- Images in Slider -->
<div class="row slider">
  <div class="col-sm-3" *ngFor="let item of imagesSlider">
    <div class="card my-1 sliderCards">
      <div class="card-header">
        <!-- popover for deleting beginning -->
        <ng-template #popContent>
          <div class="text-center">
            <button
              class="btn btn-danger col-5 mr-1"
              (click)="DeleteImagesOfSlider(item.id)"
            >
              Sil
            </button>
            <button class="btn btn-primary col-5 ml-1">iptal</button>
          </div>
        </ng-template>
        <ng-template #popTitle>
          <b>Görseli silmek üzeresiniz!</b>
        </ng-template>
        <button
          type="button"
          class="btn btn-outline-secondary mr-2"
          [ngbPopover]="popContent"
          [popoverTitle]="popTitle"
          triggers="manual"
          #p1="ngbPopover"
          (click)="deletingPopoverToggle(p1)"
          class="material-icons float-right btn btn-danger"
        >
          delete
        </button>
        <!-- popover for deleting end -->
        <button
          (click)="UpdateSliderImages(title.value, imageIndex.value, item)"
          class="material-icons float-right btn"
        >
          autorenew
        </button>
      </div>
      <div class="card-body">
        <div class="text-center">
          <img
            class="img-fluid"
            [src]="item.image"
            style="height: 200px; width: 150px; margin: 0 auto"
            [alt]="item.alt"
          />
        </div>
        <span
          [hidden]="true"
          class="badge text-dark font-weight-bold w-75 text-left"
          >url:</span
        >
        <textarea [hidden]="true" class="w-100" #url rows="4">{{
          item.url
        }}</textarea>
        <span class="badge text-dark font-weight-bold w-75 text-left"
          >açıklama:</span
        >
        <textarea class="w-100" #title rows="4">{{ item.title }}</textarea>
        <span class="badge text-dark font-weight-bold w-75 text-left"
          >index no:</span
        >
        <input
          type="number"
          class="w-25"
          #imageIndex
          value="{{ item.index }}"
        />
        <span class="badge text-dark font-weight-bold w-75 text-left"
          >ekleme tarihi:</span
        >
        <label class="" for=" ">{{ item.date | date: "dd/MM/yyyy" }}</label>
      </div>
    </div>
  </div>
</div>

<!-- Adding new photo -->
<div class="col-sm-3 bg-success py-2 mt-2 rounded shadowcss">
  <div class="card my-2">
    <div class="card-header">
      <span class="float-left font-weight-bold">Yeni Görsel:</span>
      <button
        (click)="
          AddImageToSlider(newUrl.value, newTitle.value);
          newUrl.value = '';
          newTitle.value = ''
        "
        class="material-icons float-right btn"
      >
        note_add
      </button>
    </div>
    <div class="card-body">
      <span class="badge text-dark font-weight-bold w-75 text-left">url:</span
      ><br />
      <textarea class="w-100 mb-1" #newUrl rows="4"></textarea><br />
      <span class="badge text-dark font-weight-bold w-75 text-left"
        >açıklama:</span
      ><br />
      <textarea class="w-100 mb-1" #newTitle rows="4"></textarea>
    </div>
  </div>
</div>
