<nav class="navbar navbar-expand-lg navbar-dark py-0 mb-2">
  <a id="idKaleDizgiName" class="navbar-brand" href="#"
    ><img id="logo" src="assets/imagesCommon/logo.png" alt="Kale Dizgi" />
    <span id="idMotto" class="mx-3">Kale Dizgi</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active mx-3">
        <a class="nav-link align-middle" routerLink="/motherPage"
          >Ana Sayfa <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active mx-3">
        <a class="nav-link align-middle" routerLink="/dizgimizanpaj"
          >Dizgi - Mizanpaj <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active mx-3">
        <a class="nav-link align-middle" routerLink="/contact"
          >İletişim <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
