<!-- Slider -->
<app-slider></app-slider>

<!-- Video -->
<div class="container my-3 d-flex justify-content-center">
  <div class="embed-responsive embed-responsive-16by9 col-sm-8">
    <iframe
      class="embed-responsive-item"
      src="https://www.youtube.com/embed/_XjF-twLGUU?autoplay=1&mute=1 "
      allowfullscreen
    ></iframe>
  </div>
</div>

<!-- Galleries -->
<div *ngFor="let gallery of allGalleries; let i = index">
  <link [href]="gallery[3]" rel="stylesheet" />
  <div
    id="gallery-1"
    class="container my-4 py-2 shadow-lg p-3 mb-5 bg-white rounded"
    [ngStyle]="gallery[2]"
  >
    <div class="col-sm-12">
      <p [ngStyle]="gallery[0]">{{ gallery[1] }}</p>
    </div>
    <div class="col-sm-12">
      <ng-image-slider
        [images]="imagesOfGalleries[i]"
        #nav
        [imageSize]="GetScreenSizeForTheGalleries()"
        [imagePopup]="true"
        slideImage="1"
      >
      </ng-image-slider>
    </div>
  </div>
</div>
