<div id="idSlider" class="container-fluid py-2">
  <div class="row align-items-center">
    <div
      id="idMotto"
      class="col-sm-4 py-5 align-self-center justify-content-center"
    >
      <h1 class="slogan">KALİTELİ,</h1>
      <h1 class="slogan">UCUZ</h1>
      <h1 class="slogan">VE</h1>
      <h1 class="slogan">ZAMANINDA</h1>
      <button
        type="button"
        id="contactButton"
        class="btn btn-light btn-lg btn-block"
        routerLink="/contact"
      >
        Bize Ulaşın
      </button>
    </div>
    <div id="idFotos" class="col-sm-8">
      <ng-image-slider
        [images]="imageObject"
        #nav
        [imageSize]="{ width: 210, height: 300, space: 5 }"
        [imagePopup]="true"
        slideImage="1"
      >
      </ng-image-slider>
    </div>
  </div>
</div>
